<?php
$pdo_dsn = 'mysql:dbname=database;host=localhost';
$pdo_username = 'username';
$pdo_password = 'password';
$vdb_dsn = 'mysql:dbname=database;host=http://localhost/db.php?query=';
$vdb_username = 'username';
$vdb_password = 'password';
